<ion-button (click)="requestPermission()">Request Permission</ion-button>
<ion-button (click)="listenToVoice()">Listen to Me</ion-button>
<ion-button (click)="stopListenToVoice()">Stop Listen to Me</ion-button>
<!-- <ion-button (press)="listenToVoice()" (pressup)="stopListenToVoice()">Long Press Me</ion-button/> -->
<div class="mic-container">
  <ion-icon class="micro" name="mic" color="light" (press)="listenToVoice()" (pressup)="stopListenToVoice()"[ngClass]="{'listening': listening}" ></ion-icon>
  <p *ngIf="listening">Listening...</p>
</div>

<ion-text color="secondary">
  <h1>{{listenText}}</h1>
</ion-text>

<!-- <ion-button (click)="playAudio()">Play Me</ion-button> -->

<!-- <ion-list>
  <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
    {{ file.name }}
  </ion-item>
</ion-list> -->